<body>

    {{!-- {{#if areTheyLookingAtTheirOwnProfile}}
    <form action="/api/profileImageUpload" method="post" enctype="multipart/form-data">
        <span>Change profile picture:</span>
        <input type="file" id="myImage" name="myImage">
        <button type="submit" id="submitPhoto" name="submitPhoto">Submit Photo</button>
    </form>
    {{/if}}
    <image style="max-width: 500px" id="image" src="/userimages/{{profileImagePath}}"></image> --}}
    Messages
    <table>
        {{#each messages}}
        {{#dataValues}}
        <tr>
            <td>Sending User:</td>
            <td>{{sendingUserId}}</td>
        </tr>
        <tr>
            <td>Receiving User:</td>
            <td>{{receivingUserId}}</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>{{subject}}</td>
        </tr>
        <tr>
            <td>Body:</td>
            <td>{{body}}</td>
        </tr>
        {{/dataValues}}
        {{/each}}
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>